#p1{
    font-family: serif;
    font-size: 30px;
}
#p2{
    font-family: sans-serif;
    font-size: 25px;
    font-style: italic;
}
#p3{
    font-family: monospace;
    font-size: 50px;
    color: pink;
}
#p4{
    font-family: cursive;
}
#p5{
    font-family: fantasy;
}