h1{
    background-image: url(../img/fundo-hexagonal-roxo-gradiente_23-2148965956\ \(1\).jpg);
    text-align: center;
}
h2{
    border-bottom: 2px solid gray;
}
figure{
    text-align: center;
}

img{
    text-align: center;
    width: 200px;
    height: 200px;
}