
.menu-opcoes ul{
    font-family:sans-serif, verdana, Geneva, Tahoma;
    font-size: 20px;
}

.menu-opcoes a{
    color: purple;
}

.container{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.menu-opcoes{
    position: absolute;
    top: 0px;
    right: 0px;
}

.menu-opcoes ul li{
    display: inline;
    margin-left: 20px;
}

#imglogo{
    width: 10%;
    height: 10%;
}

#lupa{
    width:3%;
    height: auto; 
}

.busca, .menu-conteudo{ 
    font-family:sans-serif, verdana, Geneva, Tahoma;
    background-color: violet;
    font-weight: bold;/*negrito*/
    text-transform: uppercase;
    width: 35%;
    margin-right: 10px;
    float: left;
}

.busca h2, 
.busca form, 
.menu-conteudo h2{
    margin: 10px;
}

.menu-conteudo li{
    background-color: aliceblue;
    margin-bottom: 1px;
    padding: 5px 10px;
}

.menu-conteudo a{
    color: purple;
}

.menu-conteudo{
    clear: left;
    margin-top: 10px;
    padding-bottom: 10px;
}

.busca input{
    vertical-align: middle;
}

.destaque{
    margin-top: 10px;
    
}